<html>
<head>
  <style>
    div.container {
      width: 100%;
      border: 1px solid gray;
    }
    header, footer {
      padding: 1em;
      color:white;
      background-color: black;
      text-align: center;
    }
    nav {
      float: left;
      padding: 1em;
      margin-bottom: 100px;
    }
    nav li{
      margin: 10px 0;
      border-bottom: 2px solid gray;
    }
    article {
      margin-left: 170px;
      border-left: 2px solid gray;
      padding: 1em;
      margin-bottom: 100px;}
  </style>
</head>
<body>
<div class="container">
  <header>
    <h1>Mail system
    </h1>
  </header>
  <nav>
    <ul style="list-style: none;">
      <li >
        <a >Inbox</a>
      </li>  <li>
      <a >Outbox</a>
    </li>  <li>
      <a >Compose</a>
    </li>
      <li>
        <a >Edit profile</a>
      </li>
    </ul>
  </nav>
  <article>
    <h1>hello</h1>
  </article>
  <footer>
  </footer>
</div>
</body>
</html>


